.Carousel{
    width: 100%;
    height: 255px;
    border-radius: 10px;
    position: relative;
}

.Carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Carousel-button{
    position: absolute;
    background: transparent;
    border: none;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px white;
    border-left: solid 2px white;
    rotate: 45deg;
    top: 118px;
}


.Carousel-previous{
    left: 6px;
}

.Carousel-next{
    right: 6px;
    rotate: -135deg;
}

.Carousel-index{
    display: none;
}

@media screen and (min-width: 720px) {

    .Carousel{
        height: 415px;
    }
    .Carousel-img{
        height: 415px;
    }

    .Carousel-button{
        width: 56px;
        height: 56px;
        border-bottom: solid 8px white;
        border-left: solid 8px white;
        top: 150px;
    }

    .Carousel-previous{
        left: 23px;
    }
    
    .Carousel-next{
        right: 23px;
    }

    .Carousel-index{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        top: -30px
    }
    
}