.Profil{
    display: flex;
    gap: 10px;
}

.Profil-name{
    color: var(--main-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    width : min-content;
    text-align: right;
}

.Profil-photo{
    border-radius: 100px;
    width: 32px;
    height: 32px;
}


@media screen and (min-width: 720px) {

    .Profil-name{
        font-size: 18px;
    }
    
    .Profil-photo{
        border-radius: 100px;
        width: 64px;
        height: 64px;
    }
    

}