.Title{
    color: var(--main-color);
}

.Title-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
}

.Title-location{
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
}

@media screen and (min-width: 720px) {   
    .Title-title{
        font-size: 36px;
    }
    
    .Title-location{
        font-size: 18px;
    }
}