.Gallerie-Item{
    display: flex;
    width: calc(100%);
    height: 255px;
    border-radius: 10px;
    cursor: pointer;
}

.Gallerie-Item-link{
    position: absolute;
    z-index: 3;
    width: calc(100% - 40px);
    height: 255px;
    border-radius: 10px;
}

.Gallerie-Item-background{
    position: absolute;
    z-index: 1;
    width: calc(100% - 40px);
    height: 255px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.Gallerie-Item-background-image{
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
}

.Gallerie-Item-title{
    position: absolute;
    width: calc(100% - 60px);
    height:calc(255px - 20px);
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 18px;
    z-index: 2;
}

@media screen and (min-width: 720px) {
    .Gallerie-Item-link{
        width: calc(50% - 30px);
    }

    .Gallerie-Item-background{
        width: calc(50% - 30px);
    }

    .Gallerie-Item-title{
        width: calc(50% - 60px);
    }
}

@media screen and (min-width: 1280px) {
    .Gallerie-Item-link{
        width: calc(1240px/2 - 10px);
    }

    .Gallerie-Item-background{
        width: calc(1240px/2 - 10px);
    }

    .Gallerie-Item-title{
        width: calc(1240px/2 - 60px);
    }
}


@media screen and (min-width: 1440px) {

    .Gallerie-Item{
        width: 340px;
        height: 340px;
    }

    .Gallerie-Item-background-image{
        width: 340px;
        height: 340px;
    }

    .Gallerie-Item-link{
        width: 340px;
        height: 340px;
    }

    .Gallerie-Item-background{
        width: 340px;
        height: 340px;
    }

    .Gallerie-Item-title{
        width: 300px;
        height: 320px;
    }
}
