.Gallerie-Item{
    width: 335px;
    height: 255px;
    border-radius: 10px;
}

.Gallerie-Item-background{
    position: absolute;
    z-index: 1;
    width: 335px;
    height: 255px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.Gallerie-Item-background-image{
    position: absolute;
    width: 335px;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
}

.Gallerie-Item-title{
    position: absolute;
    width: calc(335px - 40px);
    height:calc(255px - 20px);
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 18px;
    color: white;
    z-index: 1;
}