.Main-Home{
    padding: 0px 20px 0px 20px;
    color: white;
    margin-bottom: 20px;
}

.Gallerie{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
}
    

@media screen and (min-width: 720px) {
    .Gallerie{
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
    }
}