.Main-Home{
    padding: 0px 20px 0px 20px;
    color: white;
    margin-bottom: 20px;
    max-width: 1240px;
}

.Gallerie{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    max-width: 1240px;
}
    

@media screen and (min-width: 720px) {
    .Gallerie{
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
    }
}

@media screen and (min-width: 1440px) {
    .Main-Home{
        padding: 0px 100px 0px 100px;
        margin-bottom: 90px;
        width: 1240px;
    }

    .Gallerie{
        background: #F7F7F7;
        padding: 50px 50px 50px 50px;
        border-radius: 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        justify-content: center;
    }
}
