*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root{
  --main-color : #FF6060;
  font-family: 'Montserrat', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}